.boton {
    padding: 8px;
    border: 2px solid $negro;
    border-radius: 20px; 
}

.boton__activo {
    @extend .boton;
    &:hover {
        background-color: #a9a9a95b;
    }
}

.boton__inactivo {
    @extend .boton;
    background-color: #a9a9a9
}